/*Colours
black : #26233A
rose : #ebbcba
gold : #f6c177
highlight high : #524F67
*/
/*nav*/
.navlist {
    display: flex;
    justify-content: flex-end;
}

.navitem {
    list-style:none;
    margin-right: 5%;
}
/*main*/
footer{
    display:flex;
    color:#eb6f92;
    justify-content: center;
    align-items:flex-end;
    /* height: 90vh; */
}

body{
    display: block;
    background-color: #26233A;
    height:100vh;
}
.slide-out {
    background-color: #524F67;
    border: none;
    color: #f6c177;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
}
.new-note{
    background-color: #ebbcba;
    font-size: large;
}

/*Anchor*/
a{
    color:#ebbcba
}
a:visited{
    color:#f6c177
}
a:hover {
    color: #eb6f92
}

/*Slide out menu*/
.menu {
    display:flex;
    width: 15%;
    background-color: #524F67;
    max-height: fit-content;
    justify-content: auto;
    height: 100%;
    min-height: 100%;
}
.slide-in{
    background-color: #eb6f92;
    border: none;
    color: #f6c177;
    padding: 15px 32px;
    text-align:center;
    font-size: 16px;
    width: 15%;
    height: 15%;
}