/*Colours
black : #26233A
rose : #ebbcba
gold : #f6c177
highlight high : #524F67
*/
/*font-family: 'Lato', sans-serif;*/
/*font-family: 'Lora', serif;*/   
/*nav*/
.navlist {
    display: flex;
    justify-content: flex-end;
    right: 0;
    top: 0;
    width: 100%;
    position: fixed;
    margin: 0;
}
.navitem {
    list-style:none;
    margin-right: 3%;
}
/*font*/
ul {
    font-family: 'Lora', serif;
}
button{
    font-family: 'Lora', serif;
}
h1{
    font-family: 'Lato', sans-serif;
}

/*main*/
footer{
    display:flex;
    color:#eb6f92;
    justify-content: center;
    align-items:flex-end;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    position: fixed;
    font-family: 'Lora', serif;
}

body{
    background-color: #26233A;
    height:100vh;
    margin: 0;
}
.main{
    display:flex;
    flex-direction: row;
    height: 100vh;
    align-items: center;
}
.slide-out {
    background-color: #524F67;
    border: none;
    color: #f6c177;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
}
.new-note{
    background-color: #ebbcba;
    font-size: large;
}

/*Anchor*/
a{
    color:#ebbcba;
    font-family: 'Lora', serif;
}
a:visited{
    color:#f6c177;
    font-family: 'Lora', serif;
}
a:hover {
    color: #eb6f92;
    font-family: 'Lora', serif;
}

/*Slide out menu*/
.menu {
    display:flex;
    width: 20vw;
    background-color: #524F67;
    max-height: fit-content;
    justify-content: auto;
    height: 100%;
    min-height: 100%;
    flex-wrap: wrap;
    flex-direction: column;
}
.slide-in{
    background-color: #eb6f92;
    border: none;
    color: #f6c177;
    padding: 15px 32px;
    text-align:center;
    font-size: 16px;
    width: 15%;
    height: 15%;
}
textarea{
    width: 20vw;
    height: 20vh;
    box-sizing: border-box;
    resize: none;
}
.restpage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 100vh;
}
.restpageindex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.slideinbut{
    display: flex;
    justify-content: flex-end;
    width: auto;
}
.textbox {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 30vh;
    background-color: #eb6f92;
    width: 30vw;
    justify-content: flex-end;
}
.notebut{
    justify-content: flex-start;
}
.savedel{
    flex-direction: row;
    justify-content: flex-end;
}
.new-note{
    width: 10vw;
}

@media only screen and (max-width: 600px) {
    .textbox{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        height: 30vh;
        background-color: #eb6f92;
        width: 50vw;
        justify-content: flex-end;
    }
    textarea{
        width: 40vw;
        height: 20vh;
        box-sizing: border-box;
        resize: none;
    }
    .new-note{
        font-size: small;
    }
    .menu{
        width:50vw;
        
    }
      }